{% extends "base_generic.html" %}

{% block content %}
  <h1>&Agrave; propos</h1>
  <p>Ce projet est le fruit de la collaboration d'un papa et de son fils. Il a servi a apprendre la programmation et le language Python. Il a ete pr&eacute;sent&eacute; &agrave; une classe de 5e ann&eacute;e </p>
  <p><a href="https://github.com/jpboudreault/tictactoe">Voir le code (sur github)</a></p>
{% endblock %}

{% block extra_scripts %}
<script>$(function() { setActiveMenu("about"); });</script>
{% endblock %}