<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}

<html lang="fr" class="h-100">
<head>
    {% block title %}<title>Tic Tac X</title>{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tic Tac T<span class="red">o</span>e <span class="blue">x</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">R&egrave;gles<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jouer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="flex-shrink-0">
    <div class="container">
    {% bootstrap_messages %}

    {% block sidebar %}<!-- insert default navigation text for every page --> {% endblock %}
    {% block content %}<!-- to be replaced --> {% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Fait par Jean-Philippe et Xavier B. </span>
    </div>
</footer>

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
</body>
</html>