<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    {% block title %}<title>Tic Tac Toe X</title>{% endblock %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tic Tac T<span class="o">o</span>e <span class="x">X</span></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% url rules as rules_url %}
                    <li class="nav-item" data="about">
                        <a class="nav-link" href="{% url 'about' %}">&Agrave; propos</a>
                    </li>
                    <li class="nav-item" data="rules">
                        <a class="nav-link" href="{% url 'rules' %}">R&egrave;gles</a>
                    </li>
                    <li class="nav-item" data="play">
                        <a class="nav-link" href="{% url 'play' %}">Jouer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="flex-shrink-0">
    <div class="container">
        {% block sidebar %}<!-- insert default navigation text for every page --> {% endblock %}
        {% block content %}<!-- to be replaced --> {% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Fait par Jean-Philippe et Xavier Boudreault</span>
    </div>
</footer>

{# Load CSS and JavaScript #}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script type="text/javascript" src="{% static 'script/base.js' %}"></script>
{% block extra_scripts %}<!-- to be replaced --> {% endblock %}
</body>
</html>