{% extends "base_generic.html" %}

{% block content %}
<h1 class="mt-5">Jouer &agrave; TIC TAC T<span class="o">O</span>E <span class="x">X</span></h1>
<div class="row lead pt-4">
    <div class="col-8">
        <div class="grid-container">
            <div class="cell row1 col1" id="cell-0"></div>
            <div class="cell row1 col2" id="cell-1"></div>
            <div class="cell row1 col3" id="cell-2"></div>
            <div class="cell row2 col1" id="cell-3"></div>
            <div class="cell row2 col2" id="cell-4"></div>
            <div class="cell row2 col3" id="cell-5"></div>
            <div class="cell row3 col1" id="cell-6"></div>
            <div class="cell row3 col2" id="cell-7"></div>
            <div class="cell row3 col3" id="cell-8"></div>
            <div class="line hline" id="line-1"></div>
            <div class="line hline" id="line-2"></div>
            <div class="line vline" id="line-3"></div>
            <div class="line vline" id="line-4"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div id="game-message" class="alert alert-primary collapse" role="alert"></div>
        </div>
        <div class="row">
            <div class="w-50">
                <div class="row">
                    <span>Ordinateur:</span>
                </div>
                <div class="row pt-2">
                    <select id="game-cpu" class="custom-select">
                        <option value="rand">D&eacute;butant</option>
                        <option value="center" selected>Interm&eacute;diaire</option>
                        <option value="xav">Exp&eacute;rimental</option>
                    </select>
                </div>
                <div class="row pt-4">
                    <button id="game-start" type="button" class="btn btn-primary co">Nouvelle partie</button>
                </div>
            </div>
            <div class="w-50"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'script/play.js' %}"></script>
<script>
$(function () {
        setActiveMenu("play");
    });

</script>
{% endblock %}