{% extends "base_generic.html" %}

{% block content %}
  <h1>Les règles</h1>
  <p>Deux joueurs s'affrontent. Ils doivent remplir chacun à leur tour une case de la grille avec le symbole qui leur est attribué : O ou X. Le gagnant est celui qui arrive à aligner trois symboles identiques, horizontalement, verticalement ou en diagonale. Il est coutume de laisser le joueur jouant X effectuer le premier coup de la partie.</p>
  <p>Dans la variante Tic Tac X, le joueur controlé par l'ordinateur peut jouer deux coups de suite une partie sur trois.</p>
{% endblock %}