main > .container {
  padding: 60px 15px 0;
}
p {
    text-align: justify;
}
.navbar-brand {
    text-transform: uppercase;
    font-size: 2rem;
}
.x {
    color: #66ccff;
}
.o {
    color: #ff6699;
}

/* Related to the game */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 450px;
}
.cell {
    text-align: center;
    width: 150px;
    height: 150px;
}

.cell.x:before {
    /* this is a mess and not working */
    position: absolute;
    top: 0;
    left: 75px;
    left: 15vmin;
    content: "";
    display: block;
    width: 7px;
    width: 1.5vmin;
    height: 150px;
    height: 30vmin;
    background-color: #10A0E1;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cell.x:after {
    /* this is a mess and not working */
    position: absolute;
    top: 0;
    left: 75px;
    left: 15vmin;
    content: "";
    display: block;
    width: 7px;
    width: 1.5vmin;
    height: 150px;
    height: 30vmin;
    background-color: #10A0E1;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cell.o {
    /* this is a mess and not working */
    top: 15px;
    left: 15px;
    width: 120px;
    height: 120px;
    border: 8px solid #ff6699;
    border-radius: 50%;;
}
.line{
    border-radius: 25px;
    background-color: #343a40;
}
.hline {
    height: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.vline {
    width: 5px;
    grid-row-start: 1;
    grid-row-end: 4;
}
.row1 {
    grid-row-start: 1;
}
.row2 {
    grid-row-start: 2;
}
.row3 {
    grid-row-start: 3;
}
.col1 {
    grid-column-start: 1;
}
.col2 {
    grid-column-start: 2;
}
.col3 {
    grid-column-start: 3;
}
#line-1 {
    grid-row: 2;
}
#line-2 {
    grid-row: 3;
}
#line-3 {
    grid-column: 2;
}
#line-4 {
    grid-column: 3;
}