main > .container {
  padding: 60px 15px 0;
}
p {
    text-align: justify;
}
.navbar-brand {
    text-transform: uppercase;
    font-size: 2rem;
}
.x {
    color: #66ccff;
}
.o {
    color: #ff6699;
}

/* Related to the game */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60vh;
}
.cell {
    text-align: center;
    line-height: 20vh; /* to align vertically */
    width: 20vh; /* for a responsive grid */
    height: 20vh; /* for a responsive grid */
    font-size: 19vh;
}
.cell:hover {
    cursor: pointer;
}
.line{
    border-radius: 25px;
    background-color: #343a40;
}
.hline {
    height: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.vline {
    width: 5px;
    grid-row-start: 1;
    grid-row-end: 4;
}
.row1 {
    grid-row-start: 1;
}
.row2 {
    grid-row-start: 2;
}
.row3 {
    grid-row-start: 3;
}
.col1 {
    grid-column-start: 1;
}
.col2 {
    grid-column-start: 2;
}
.col3 {
    grid-column-start: 3;
}
#line-1 {
    grid-row: 2;
}
#line-2 {
    grid-row: 3;
}
#line-3 {
    grid-column: 2;
}
#line-4 {
    grid-column: 3;
}